@model Event
@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="main-body">

        <br />

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@ViewData["clubimg"]" alt="Club Logo" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>@Model.EventName</h4>

                                <a href="mailto:@ViewData["clubmail"]" class="btn btn-primary">İletişim</a>
                                <a href="@ViewData["clubweb"]" target="_blank" class="btn btn-success">Web Site</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Etkinlik Adı:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.EventName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Kulüp Adı:</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.ClubName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Başlangıç Tarihi</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.StartDate
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Biriş Tarihi</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.EndDate
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Konum</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Place
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Etkinlik Açıklaması</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.EventDescription
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Etkinlik Türü</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Type
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Konuşmacılar</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Speaker
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

